body{
  text-align: center;
  color: red;
  background-color: black;
}
#div1{
text-align: center;
color: orange;
background-color: blue;
}
#div2{
  text-align: center;
  color: orange;
  background-color: blue;
}
#div3{
  text-align: center;
  color: orange;
  background-color: blue;
}
#div4{
  text-align: center;
  color: orange;
  background-color: blue;
}
#div5{
  text-align: center;
  color: orange;
  background-color: blue;
}
#div6{
  text-align: center;
  color: orange;
  background-color: blue;
}
#div7{
  text-align: center;
  color: orange;
  background-color: blue;
}
#div8{
  text-align: center;
  color: orange;
  background-color: blue;
}
#div9{
  text-align: center;
  color: orange;
  background-color: blue;
}
#div10{
  text-align: center;
  color: orange;
  background-color: blue;
}
