body{
  font-family: "Thasadith", sans-serif;
font-size: 37px;
text-align: center;
color: #666666;
background-color: #80ffaa;
}
ul {
  background-color:#666666;
  /* list-style-type: none; */
  margin: 0;
  padding: 0;
  background-color:#ffcc99;
  /* padding: 8px; */
  /* list-style-type: none; */
 overflow: hidden;
}
li a:hover {
  background-color: #ff66ff;
}

li a {
  display: block;
  color: #666666;
  /* text-align: center; */
  padding: 3px 7px;
  text-decoration: none;
}

li {
  color:#666666;
 float:right;
  display: inline;
}
