h1{
  text-align:center;
  font-family: arial;
  font-size: 75px;
}
body{
  background-color: khaki;
}
p{
  font-family: arial;
  text-align: center;
}
h2{
  text-align: center;
  font-family: arial;
  font-size: 40px;
}

.park{
  display: inline-block;
}
